

.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  gap: 20px;
}

@media (max-width: 767px) {
  .list{
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .title{
    font-size: 40px;
    text-align: center;
  }
  .list{
    padding-bottom: 0;
  }
}