@import '@/style/variables.module.scss';

.head {
  padding: 60px 0;

  p {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.swiper {
  width: 100%;
}

.slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.btnPrev,
.btnNext {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: $white;
  border: 1px solid $orange;
  color: $orange;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background-color: $orange;
    color: $title;
  }
}