
.title{
  text-align: left;

  &::before {
    content: '';
    position: absolute;
    width: 44%;
    height: 3px;
    background-color: var(--orange);
    right: 0;
    bottom: 50%;
  }
}

.list{
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Добавьте свои стили для ноутбуков и настольных компьютеров */
  .title{
    &:before{
      display: none;
    }
  }

  .list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px; 
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Добавьте свои стили для планшетов и небольших ноутбуков */
  .title {
    &:before {
      display: none;
    }
  }
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Добавьте свои стили для мобильных устройств и планшетов */
  .title {
    text-align: center;
    &:before {
      display: none;
    }
  }
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
  }
}

@media only screen and (max-width: 480px) {
  /* Добавьте свои стили для мобильных устройств */
  .title {
    text-align: center;
    &:before {
      display: none;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 30px;
  }
}