@import '@/style/variables.module.scss';

.articleinfo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.articleimg {
  border-radius: 50%;
}

.blog{
  p{
    font-size: 20px;
    margin-bottom: 10px;
  }
  img{
    margin: 0 auto;
  }
}