

.title{
  font-size: 54px;
  color: var(--title);
  margin-bottom: 30px;
  text-transform: none;
}

.blog{
  h2 {
    font-size: 36px;
  }

  p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  figure {
    margin-bottom: 30px;
  }

  figcaption {
    text-align: center;
    color: var(--cement);
  }

  span {
    text-transform: uppercase;
    color: var(--orange);
  }

  img {
    margin: 0 auto;
  }
}