
// .title{
//   text-align: left;
//   &::before {
//     content: '';
//     position: absolute;
//     width: 54%;
//     height: 3px;
//     background-color: var(--orange);
//     right: 0;
//     bottom: 50%;
//   }
// }


@media (max-width: 992px) {
  .title {
    text-align: center;

    &::before {
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .container{
    padding: 0;
    padding-bottom: 30px;
  }
  .title{
    font-size: 26px;
  }
}