.logo{
  margin: 0 auto;
  margin-bottom: 30px;
}

.history{
  font-size: 20px;
  margin-bottom: 30px;
  color: var(--orange);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.img{
  margin-bottom: 30px;
}

.text{
  font-size: 20px;
  margin-bottom: 30px;
}