.btn {
  display: none;
}

@media only screen and (max-width: 767px) {

  /* Добавьте свои стили для мобильных устройств и планшетов */
  .menu {
    display: block;
  }

  .btn {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;

    span,
    &::before,
    &::after {
      position: absolute;
      left: 0;
      height: 10%;
      width: 30px;
      transition: all 0.3s ease 0s;
      background-color: var(--white);
    }

    &::before,
    &::after {
      content: '';
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      width: 30px;
      top: 50%;
      transform: scale(1) translate(0, -50%);
    }
  }

  .btnActive span {
    transform: scale(0) translate(0px, -50%);
  }

  .btnActive {
    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }

  .logo {
    z-index: 1;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--cement);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;

    &::before {
      content: '';
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 84px;
      background-color: var(--gray);
      z-index: 2;
    }
  }

  .menuActive {
    left: 0;
  }


  .list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    li:not(:first-child) {
      margin-left: 0;
    }

    li {
      flex-wrap: wrap;
    }
  }
}