@import '@/style/variables.module.scss';

.list{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sliderBtn {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  border: 1px solid $orange;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background-color: #fff;
    color: $orange;
  }
}