

.title {
  text-align: left;

  &::before {
    content: '';
    position: absolute;
    width: 84%;
    height: 3px;
    background-color: var(--orange);
    right: 0;
    bottom: 50%;
  }
}


.list{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.wrapper {
  position: relative;
}


.btnPrev,
.btnNext {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: var(--white);
  border: 1px solid var(--orange);
  color: var(--orange);
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background-color: var(--orange);
    color: var(--title);
  }
}

.slide {
  margin: 0 auto;
}

.btnNext {
  top: -22%;
  right: 0;
}

.btnPrev {
  top: -22%;
  right: 4%;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Добавьте свои стили для ноутбуков и настольных компьютеров */
  .title{
    &:before{
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* Добавьте свои стили для планшетов и небольших ноутбуков */
  .title {
    text-align: center;

    &:before {
      display: none;
    }
  }

  .btnPrev,
  .btnNext {
    top: 102%;
  }

  .btnPrev {
    right: 55%;
  }

  .btnNext {
    right: 40%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Добавьте свои стили для мобильных устройств и планшетов */
  .title {
    text-align: center;

    &:before {
      display: none;
    }
  }

  .btnPrev,
  .btnNext {
    top: 102%;
  }

  .btnPrev {
    right: 55%;
  }

  .btnNext {
    right: 40%;
  }
}

@media only screen and (max-width: 480px) {
  /* Добавьте свои стили для мобильных устройств */
  .title {
    text-align: center;

    &:before {
      display: none;
    }
  }

  .btnPrev,
  .btnNext {
    top: 102%;
  }

  .btnPrev {
    right: 55%;
  }

  .btnNext {
    right: 40%;
  }
}