
.title {

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 34%;
    height: 3px;
    bottom: 50%;
    background-color: var(--orange);
  }

  &::before {
    right: 0;
  }

  &::after {
    left: 0;
  }
}

.list{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}


.btn{
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  width: 100%;
  padding: 8px;
  color: var(--title);
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--orange);
  cursor: pointer;
  border-radius: 8px;
  transition: all .4s;
  border: 1px solid var(--orange);

  &:hover {
    background-color: var(--white);
    color: var(--default);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Добавьте свои стили для ноутбуков и настольных компьютеров */
  .title {
    &:before,
    &:after {
      display: none;
    }
  }
  .list{
    gap: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Добавьте свои стили для планшетов и небольших ноутбуков */
  .title {
    &:before,
    &:after {
      display: none;
    }
  }
  .list{
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Добавьте свои стили для мобильных устройств и планшетов */
  .title {
    &:before,
    &:after {
      display: none;
    }
  }
  .list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

@media only screen and (max-width: 480px) {
  /* Добавьте свои стили для мобильных устройств */
  .title {
    &:before,
    &:after {
      display: none;
    }
  }
  .list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}