@import '@/style/variables.module.scss';

.head{
  padding-top: 144px;
}

.title{
  font-size: 54px;
  color: $title;
  margin-bottom: 30px;
  text-transform: none;
}


.date,
.author {
  font-size: 14px;
}

.blog{
  h2{
    font-size: 30px;
  }
  p{
    font-size: 20px;
    margin-bottom: 10px;
  }
  figure{
    margin-bottom: 30px;
  }
  figcaption{
    text-align: center;
    color: $cement;
  }
  span{
    text-transform: uppercase;
    color: $orange;
  }
}

.img{
  margin: 0 auto;
}

.list{
  li{
    font-size: 19px;
    font-weight: 700;
  }
  p{
    font-weight: 300;
  }
}

.articleinfo{
  display: flex;
  gap: 20px;
  align-items: center;
}

.articleimg{
  border-radius: 50%;
}


.download{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon{
  display: block;
}

.btn{
  padding: 10px;
  border: 1px solid $orange;
  color: $title;
  background-color: #fff;
  transition: all .4s;
  &:hover{
    background-color: $gray;
    color: #fff;
  }
}

.domolit{
  display: flex;
  align-items: center;
  justify-content: center;
  // max-width: 300px;
  margin: 0 auto;
  li{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    span{
      font-weight: 700;
    }
  }
  li:not(:last-child){
    padding-bottom: 10px;
  }
  li:last-child{
    font-weight: 300;
  }
}

.content{
  width: 60%;
}

@media (max-width: 768px) {
  .head{
    padding-top: 0;
  }
}

@media (max-width: 420px) {
  .title{
    font-size: 38px;
  }
  .blog{
    padding: 30px 0;
    h2{
      font-size: 26px;

    }
  }
}