@import '@/style/variables.module.scss';

.slide {
  position: relative;

  &:hover div {
    opacity: 1;
  }

  div {
    position: absolute;
    bottom: 0;
    max-width: 338px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    opacity: 0;
    transition: all .3s
  }
}