

.card{
  display: flex;
  flex-direction: column;
  div{
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 140px;
  }
  h2{
    font-size: 20px;
    color: var(--title);
  }
  &:hover div{
    transition: all .3s;
    background-color: var(--orange);
  }
}

.img{
  width: 400px;
  height: 250px;
}