

.inner{
  p{
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.list{
  font-size: 18px;
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 30px;
  li{
    margin-bottom: 10px;
  }
}

.img{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .img {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .img {
    flex-wrap: wrap;
    justify-content: center;
  }
}