@import '@/style/variables.module.scss';

.inner{
  p{
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.list{
  font-size: 18px;
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 30px;
  li{
    margin-bottom: 10px;
  }
}

.img{
  display: flex;
  justify-content: space-between;
}