.title{
  text-align: left;
  &::before {
    content: '';
    position: absolute;
    width: 62%;
    height: 3px;
    background-color: var(--orange);
    right: 0;
    bottom: 50%;
  }
}

.video {
  padding-top: 30px;
  height: 530px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 992px) {
  .title {
    text-align: center;

    &::before {
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .container {
    padding: 30px 0;
  }
  .title{
    font-size: 36px;
    margin-bottom: 0;
  }
}