
.video {
  padding-top: 30px;
  height: 530px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 992px) {

}

@media (max-width: 420px) {
  .container {
    padding: 0;
    padding-top: 30px;
  }
  .video{
    height: 300px;
  }
}