.title{
  text-align: left;
  &::before {
    content: '';
    position: absolute;
    width: 62%;
    height: 3px;
    background-color: var(--orange);
    right: 0;
    bottom: 50%;
  }
}

.video {
  padding-top: 30px;
  height: 530px;
  margin: 0 auto;
  display: block;
}