.inner{
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.title{
  text-align: left;
}

.img{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .inner,
  .img{
    gap: 30px;
  }
}

@media (max-width: 420px){
  .inner,
  .img{
    flex-direction: column;
  }
}