

.container{
  background-color: var(--gray);
}

.title{
  color: var(--white);
  text-align: center;
}

.list{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  color: var(--white);
  list-style: disc;
  li{
    max-width: 300px;
    width: 100%;
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  .title{
    font-size: 26px;
  }
  .list{
    margin-left: 30px;
    gap: 10px;
    li{
      font-size: 16px;
    }
  }
}