

.container{
  background-color: var(--gray);
}

.title{
  color: var(--white);
}

.list{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  color: var(--white);
  list-style: disc;
  li{
    max-width: 300px;
    width: 100%;
    font-size: 20px;
  }
}