

.head{
  min-height: 600px;
  // background: url('/img/contacts/contact-bg.webp') center/cover no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  div{
    z-index: 2;
  }

}

.title{
  text-align: center;
}

.descr{
  font-size: 26px;
  color: var(--white);
  text-align: center;
}

@media (max-width: 768px){
  .descr{
    font-size: 16px;
  }
}
@media (max-width: 420px){
  .head{
    min-height: 0;
  }
}