

// .head {
//   min-height: 600px;
//   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/img/contacts/contact-bg.webp') center/cover no-repeat;
//   display: flex;
//   justify-content: flex-end;
//   flex-direction: column;
//   position: relative;

//   div {
//     z-index: 2;
//   }
// }

/* Head.module.scss */

.head {
  min-height: 600px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  /* Начальная непрозрачность */
  transition: opacity 0.5s ease;
  /* Плавное появление */
}

.imageLoaded .backgroundImage {
  opacity: 1;
}

.container {
  z-index: 2;
}

/* Оставляем ваш стиль для тени */
.head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}


.title{
  text-align: center;
}

.descr{
  font-size: 26px;
  color: var(--white);
  text-align: center;
}

@media (max-width: 768px){
  .descr{
    font-size: 16px;
  }
}
@media (max-width: 420px){
  .head{
    min-height: 0;
  }
}