@import '@/style/variables.module.scss';

.card {
  display: flex;
  flex-direction: column;
  width: 290px;
  background-color: $gray;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px $orange;

  img {
    border-radius: 10px 10px 0px 0px;
  }

  video{
    border-radius: 10px 10px 0px 0px;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 20px;
  }

  h3 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0;
    min-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    // margin-top: 0;
    flex-grow: 1;
  }
}



@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Добавьте свои стили для ноутбуков и настольных компьютеров */
  .card{
    width: 230px;
    p{
      margin-bottom: 20px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Добавьте свои стили для планшетов и небольших ноутбуков */
  // .card{
  //   flex-basis: 100%;
  // }
}

