.title {
  text-align: left;

  &::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: var(--orange);
    right: 0;
    bottom: 50%;
  }
}

.img{
  margin: 0 auto;
  &:not(:last-child){
    margin-bottom: 30px;
  }
}

.text{
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.btn{
  display: block;
  text-align: center;
}