.links{
  display: flex;
  gap: 10px;
}

.link{
  padding: 6px 6px;
  // height: 16px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid var(--white);
  transition: all .4s;
  line-height: 1;
  &:hover{
    background-color: var(--orange);
    color: var(--gray);
  }
}