
.item{
  margin: 30px 0;
}

.year{
  background-color: var(--orange);
  text-align: center;
  position: relative;
  &::after,
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    width: calc(50% - 100px);
    height: 3px;
    background-color: var(--gray);
  }
  &::after{
    right: 100px;
    margin-right: -100px;
  }
  &::before{
    left: 100px;
    margin-left: -100px;
  }
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}