.container {
  background-color: var(--gray);
  position: sticky;
  top: 0;
  padding: 10px 0;
  width: 100%;
  z-index: 10;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    font-size: 20px;
    transition: all .3s;
  }
}

.item {
  position: relative;
}

.item:hover .sublist {
  max-height: 500px;
  /* настройте это значение в зависимости от высоты вашего подменю */
}

.sublist {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #181c25;
  width: 300px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-in-out;
}


.subitem {
  padding: 8px;

  &:not(:last-child) {
    border-bottom: 1px solid #777;
  }
}

.btn {
  display: none;
}


@media (max-width: 992px) {

  /* Добавьте свои стили для планшетов и небольших ноутбуков */
  .menu{
    gap: 10px;
  }
  .list {
    gap: 10px;
    li:not(:first-child) {
      margin-left: 10px;
    }

    a {
      font-size: 16px;
    }
  }
}


@media only screen and (max-width: 767px) {

  /* Добавьте свои стили для мобильных устройств и планшетов */
  .menu {
    display: block;
  }

  .btn {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;

    span,
    &::before,
    &::after {
      position: absolute;
      left: 0;
      height: 10%;
      width: 30px;
      transition: all 0.3s ease 0s;
      background-color: var(--white);
    }

    &::before,
    &::after {
      content: '';
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      width: 30px;
      top: 50%;
      transform: scale(1) translate(0, -50%);
    }
  }

  .btnActive span {
    transform: scale(0) translate(0px, -50%);
  }

  .btnActive {
    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }

  .logo {
    z-index: 1;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--cement);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;

    &::before {
      content: '';
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 84px;
      background-color: var(--gray);
      z-index: 2;
    }
  }

  .menuActive {
    left: 0;
  }


  .list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    li:not(:first-child) {
      margin-left: 0;
    }

    li {
      flex-wrap: wrap;
    }
  }

  .sublist {
    display: block;
    position: static;
    top: 100%;
    left: 0;
    background-color: #181c25;
    width: 300px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
  }

  .item:hover .sublist {
    max-height: 500px;
  }
}