@import '@/style/variables.module.scss';
.head{
  h1{
    text-align: center;
    font-size: 40px;
    color: $title;
    margin-bottom: 30px;
    text-transform: none;
  }
} 


.inner {
  display: flex;
}