@import '@/style/variables.module.scss';

.list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.card{
  
  div{
    padding: 20px;
    color: $title;
    font-size: 20px;
    border: 1px solid $cement;
    transition: all .3s;
    p:not(:last-child){
      margin-bottom: 30px;
    }
  }
  &:hover{
    div{
      background-color: $orange;
      color: $white;
    }
  }
}