@import "@/style/variables.module.scss";

.join{
  padding: 60px 0;
  background-color: #fff;
}

.inner {
  background-color: $orange;
  padding: 45px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  border-radius: 10px;

  h2 {
    color: $white;
  }

  p {
    font-size: 22px;
  }
}

.btn {
  padding: 16px 48px;
  border-radius: 50px;
  border: 1px solid $white;
  transition: all .3s;
  color: $white;
  background-color: $orange;
  white-space: nowrap !important;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $white;
    color: $orange;
  }
}