@import '@/style/variables.module.scss';


.list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  li{
    max-width: 400px;
    border-bottom: 3px solid $orange;
    margin-bottom: 30px;
    height: 400px;
  }
}